@import url('https://fonts.googleapis.com/css2?family=Krub&display=swap');

*{
    font-family: 'Krub', sans-serif;
    font-size: 13pt;
}

.img1{
    background-color: aqua;
    position: absolute;
    left: 30.4vh;
    height: 100vh;
    z-index: -1;
}

.icon{
  width: 60%;
  margin-bottom: -30px;
}

.icon2{
    transform: skewY(165deg);
    width: 50%;
  }

.iconProfile{
    width:30%;
    border-radius:100px;
  }
  
  

.btn-sign{
    border-radius: 7px;
    font-weight: 600;
    font-size: 14pt;
}


.p1{
    font-size: 11pt;
    color: #9c9c9c;
}

.nav{
    
    height: 100vh;
}

hr{
    width: 70%;
    text-align: center;
}

.col{
    background-color: blanchedalmond;
}

.pointer{
    background-color: blanchedalmond;
    cursor: pointer;
}