@import url('https://fonts.googleapis.com/css2?family=Krub&display=swap');

*{
    font-family: 'Krub', sans-serif;
    font-size: 13pt;
}

.img1{
    background-color: aqua;
    position: absolute;
    left: 30.4vh;
    height: 100vh;
    z-index: -1;
}

.icon{
  width: 60%;
  margin-bottom: -30px;
}

.icon2{
    transform: skewY(165deg);
    width: 40%;
  }

.iconProfile{
    width:50%;
  }
  
  

.btn-sign{
    border-radius: 7px;
    font-weight: 600;
    font-size: 14pt;
}


.p1{
    font-size: 10pt;
}


hr{
    width: 70%;
    text-align: center;
}

.pointer{
    cursor: pointer;
    color:#9c9c9c;
}

.pointer:hover{
    color: grey;
}

.active-link{
   color: #ff3045;
}

.active-link:hover{
    color: red;
}

.d{
    background-color: aqua;
}

  form .input-blog-image-group label p {
    font-size: 15px;
    color:red;
    font-weight:bold;
  }
  
  form .input-blog-image-group label {
    width: 100%;
    height:6vh;
    font-size: 20px;
    font-weight: 400;
    padding: 7px 7px 7px 15px ;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
